
<div style="background-color: white; width: 1905px; height: 950px"><canvas #canvas class="test" [style.background-color]="backgroundColor"></canvas>
  <div class="header">
    <a href="#default" class="logo">Drawing App</a>
  </div>
  <div class="left-header"> <br/>
    Color<input type="color" #color (change)="pickColor(color.value)"  id="head"  value="#e66465"> <br/> <br/>
    Stroke<input class="input" #stroke (change)="pickwidth(stroke.value)" type="number" value="3"> <br/> <br/>
    Draw<img src="../assets/pencil.png" class="imageRubber" (click)="drawWithPencil()"><br/> <br/>
    Circle<button class="button button5" (click)="roundF()"></button> <br/> <br/>
    Square<button class="button button1" (click)="rectF()"></button> <br/> <br/>
    Del Width<input class="input" #del (change)="pickDelWidth(del.value)" type="number" value="50"> <br/> <br/>
    Delete<img src="../assets/edit-tools.png" class="imageRubber" (click)="clearF()"><br/> <br/>
    Background<input type="color" #back  (change)="chooseBackgroundColor(back.value)"   value="#FFFFFF"><br/> <br/>
    Download<a #downloadLink><img src="../assets/cloud-computing.png"  class="imageRubber" (click)="downloadAsPng(canvas)"></a>

  </div>
</div>

